*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    min-height: 100vh;
    max-height: 100%;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 7fr 1fr;
    gap: 15px;
    background-color: #654321;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    padding: 0px 15px;
    background-color: #123d12;
}

h1 {
    font-size: 60px;
    color: #fffff0;
}

.pf-sign {
    background-color: #fffff0;
    border: 1px solid;
    font-size: 20px;
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
}

aside {
    grid-row: 2 / 5;
    grid-column: 1 / 2;
    padding: 20px;
    background-color: #123d12;
}

.new-book-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

section {
    grid-column: 2 / 4;
    grid-row: 2 / 5;
    background-color: #3d121a;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info h3 {
    font-size: 40px;
    color: #fffff0;
}

.info label {
    font-size: 25px;
    color: #fffff0;
}

.info input {
    height: 35px;
    font-size: 20px;
    background-color: #fffff0;
    padding: 0 5px;
}

.info input:focus {
    border-color: #3d121a;
    outline: 2px solid #98c1a6;
}

.read-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.read-wrapper h4 {
    font-size: 25px;
    font-weight: 100;
    color: #fffff0;
}


input[type='checkbox'] {
    width: 25px;
    outline: none;
    cursor: pointer;

}

#book-submit {
    height: 45px;
    font-size: 20px;
    background-color: #fffff0;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

.book {
    width: 200px;
    height: 240px; 
    margin-bottom: 15px;
    background-color: #fffff0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px solid;
    border-left: 5px solid;
    overflow: hidden;
}

.book-tools {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 3px;
    color: rgba(0, 0, 0, 0.127);
    max-width: fit-content;
}

.delete,
.edit {
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.delete:hover,
.edit:hover {
    color: black;
    scale: 1.1;
}

.book-mark {
    width: 35px;
    height: 50px;
    grid-column: 3 / 4;
    justify-self: end;
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.26);
    border: 1px solid rgba(10, 10, 10, 0.235);
    transition: ease-in-out 0.3s;
    text-align: center; 
    font-size: 14px;
    color: #00000063;
}

.book-mark:hover {
    background-color: red;
    border-color: black;
}

.book-read {
    background-color: red;
    border-color: black;
    transition: ease-in-out 0.3s;
    color: black;
}

.book-read:hover {
    background-color: rgba(255, 0, 0, 0.26);
    border: 1px solid rgba(10, 10, 10, 0.235);
    content: "Not Read";
}

.title-wrapper {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    align-self: center;
    justify-self: center;
}

.title {
    font-size: 25px;
    padding: 0 5px;
}

.author {
    font-size: 15px;
    padding: 0 5px;
}

.pages {
    grid-column: 3/ 4;
    grid-row: 3 / 4;
    font-size: 20px;
    align-self: end;
    justify-self: end;
    margin-right: 5px;
}

.library-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    padding: 15px;
    background-image: linear-gradient( to bottom,transparent 240px,  #654321 250px );
    background-size: 100% 270px; 
    background-repeat: repeat-y;
}